.sidebar {
    margin-bottom: 2;
  }

  .sidebar__header {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    color: var(--color-grey-dark-3);
    font-weight: 400;
    line-height: 1rem;
  }

  .sidebar__list {
    font-size: 0.85rem;
    line-height: 1.1rem;
    letter-spacing: 0.3px;
    margin-bottom: 1rem;
    font-weight: 500;
    color: var(--color-grey-dark-3);
  }

  .sidebar__list--item {
    cursor: pointer;
    margin-bottom: -0.2rem;
  }


  .sidebar__header--icon {
    margin-right: 5px;
  }
