<div class="card " *ngIf="categoryStats">
    <div class="sidebar">
      <p class="sidebar__header">
        <i class="material-icons sidebar__header--icon">
          trending_up
        </i>
        Trending Catgory
      </p>
      <mat-list class="sidebar__list">
        <div *ngFor="let c of categoryStats">
          <mat-list-item class="sidebar__list--item"
            >{{ c.name }} ({{ c.noOfPosts }})</mat-list-item
          >
          <mat-divider></mat-divider>
        </div>
      </mat-list>
    </div>
  </div>
