.container {
    max-width: 1366px;
    margin: 5.3rem auto;
    display: grid;
    grid-template-areas: "side-content main  extras";
    grid-template-rows: auto;
    grid-template-columns: 300px 1fr 400px;
}

.post-list {
  grid-area: main;
}

.category-list {
    padding: 20px;
    grid-area: side-content;
}

.extras {
    grid-area: extras;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

