mat-toolbar {
  position: fixed;
  left:0;
  top:0;
  z-index: 20;
  box-shadow:  0 .1rem .6rem rgba(0,0,0, .3);
  width: 100%;
}
.navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar__logo-button{
  font-size: inherit;
}
.navbar__logo-button--wrapper {
  display: flex;
  align-items: center;
}
.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1rem;
  height: 1rem;
  padding: .65rem .7rem;
  margin-right: .5rem;
  font-size: 1.6rem;
  font-family: sans-serif;
  font-weight: 600;
  background-color: #fff;
  color: #3f51b5;
  border-radius: 4px;
  box-sizing: content-box;
}

.nav-right{
  font-size: .9rem;
  font-weight: 500;
  display: flex;
}

.avatar {
  margin-right: 0.2rem;
    width: 2rem;
    height: 2rem;
}

.select-wrapper {
  font-size: .8rem;
  width: 100%;
  justify-content: space-around;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: var(--color-grey-dark-2);
}